<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/books.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="new">
                <h1>New Books</h1>
                <form action="/new_book" method="POST">
                    <label class="form_label" for="title">Title:</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Please type Book Title...">
                    <label class="form_label" for="num_of_pages">Number of Pages:</label>
                    <input class="form-control" type="text" name="num_of_pages" id="num_of_pages" placeholder="# of pages">
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            <div class="all">
                <h1>All Books</h1>
                {% for book in all_books: %}
                    <a href="#">{{book.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="home">
            <a href="/">Home</a>
        </div>
    </body>
</html>