* {
    margin: 0px auto;
    padding: 0px;
}

.title {
    height: 50px;
    width: 500px;
    margin-top: 60px;
    background-color: lightblue;
}

.title h1{
    text-align: center;
}

table tr td {
    height: 50px;
    width: 50px;
    gap: 0px;
}
